* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  color: #3f464d;
  font-family: "Spoqa Han Sans Neo", "Sans-serif";
}

.inner {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  overflow: hidden;
}

header {
  width: 100%;
  height: 60px;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.head-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head-container .head-brand {
  font-weight: bold;
  font-size: 1.2rem;
}

.head-container .head-brand a:hover {
  color: #2186c4;
  cursor: pointer;
}

.head-container .head-blog {
  font-weight: bold;
  font-size: 1.2rem;
}

.head-container .head-blog a:hover {
  color: #2186c4;
  cursor: pointer;
}

a {
  all: unset;
}

a:link {
  text-decoration: none;
  color:#3f464d;
}

a:visited {
  text-decoration: none;
  color:#3f464d;
}

a:hover {
  text-decoration: none;
  color:#3f464d;
}

section {
  width: 100%;
  background-color: #fff;
  position: relative;
}

.main {
  height: 360px;
  background-image: url(/frontend/img/test3_img.jpeg);
  background-size: cover;
  background-position: center 40%;
  background-repeat: no-repeat;
  z-index: 1;
}

.main-container {
  width: 100%;
  height: 100%;
  background-color: rgb(47, 48, 49);
  opacity: 0.8;
  z-index: 2;
  margin-top: 50px;
}

.title-container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  padding-bottom: 0.8rem;
}

.message {
  font-size: 1.4rem;
  font-weight: nomal;
  color: #fff;
  line-height: 2rem;
}

.skill-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
}

.skill {
  width: 25%;
  background-color: #fff;
  display: flex;
  align-items: center;
  border-radius: 9px;
  padding: 0.5rem 1rem;
  margin: 0 1rem;
  box-shadow: 10px 10px 10px -5px rgba(25, 42, 70, .2);
  transition: 0.4s;
}

.skill:hover {
  transform: translate(0, -5px);
}

.skill-icon {
  margin: 0 10px;
  width: 50px;
  height: 50px;
}

.skill-title {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.skill-name {
  font-weight: bold;
  color: #545e6f;
  margin-bottom: 0.2rem;
}

.skill-usage {
  font-size: 0.9rem;
  color: #545e6f;
  flex-direction: column;
  align-items: center;
}

.roadmap-container {
  width: 100%;
  margin-top: 2rem;
}

.roadmap-title-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.roadmap-title {
  font-size: 1.3rem;
  font-weight: bold;
  color: #545e6f;
}

.arrows {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  margin: 0 3px;
}

.slide-prev {
  opacity: 0.5;
}

.slide-next {

}

.class-list {
  display: flex;
  list-style: none;
  padding: 1rem 0;
  overflow: hidden;
}

.class-card {
  max-width: 240px;
  box-shadow: 10px 10px 10px -5px rgba(25, 42, 70, 0.2);
  border-radius: 8px;
  margin: 0 10px;
  transition: 0.4s;
  flex-shrink: 0;
}

.class-card:hover {
  box-shadow: 10px 10px 10px 0px rgba(25, 42, 70, 0.2);
  transform: translate(0, -5px);
  cursor: pointer;
}

.class-img {
  max-width: 240px;
  border-radius: 8px 8px 0 0;
}

.class-container {
  width: 100%;
  padding: 0.5rem 1rem 1rem 1rem;
}

.class-skill {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.class-type {
  font-size: 0.9rem;
  color: #949393;
}

.class-format {
  font-size: 0.9rem;
  color:#fff;
  background: #2186c4;
  padding: 0.2rem;
  border-radius: 3px;
}

.class-desc {
  width: 100%;
  margin-top: 1rem;
}

.class-title {
  font-weight: bold;
  color: #545e6f;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0.5rem;
}

.class-detail {
  font-size: 0.9rem;
  color: #545e6f;
  line-height: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.roadmap-desc {
  display: visual;
}

@media only screen and (min-width: 1200px) {
  .inner {
    max-width: 1200px;
  }
}

footer {
  border-top: 1px solid #e4e4e4;
  background-color: #f8f9fa;
  padding: 1rem 0;
  margin: 1rem 0;
}

.footer-message {
  font-weight: bold;
  color: #545e6f;
  margin: 0.4rem 0.5rem;
}

.footer-contact {
  color: #545e6f;
  margin: 0.5rem 0.4rem;
}

.footer-copyright {
  color: #545e6f;
  margin: 1rem 0.5rem;
}

@media only screen and (max-width: 980px) {
  .skill-container {
    display: none;
  }
}

@media only screen and (max-width: 980px) {
  .arrows {
    width: 25px;
    height: 25px;
  }
  .roadmap-desc {
    display: none;
  }
}